In [1]:
import numpy as np
import pandas as pd

In [37]:
dates = pd.date_range("20240823", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df.head()

                   A         B         C         D
2024-08-23  0.294518 -1.052044  0.620513  0.256844
2024-08-24  1.612325 -0.271398  0.322909 -0.059617
2024-08-25  0.052598  0.052434  1.052605 -0.516229
2024-08-26  0.041728  0.099345  1.282465  1.156367
2024-08-27  0.944333  1.577573 -1.260195  0.859133

In [39]:
df['A']

2024-08-23    0.294518
2024-08-24    1.612325
2024-08-25    0.052598
2024-08-26    0.041728
2024-08-27    0.944333
2024-08-28   -1.220091
Freq: D, Name: A, dtype: float64

In [45]:
df.loc['2024-08-23']

A    0.294518
B   -1.052044
C    0.620513
D    0.256844
Name: 2024-08-23 00:00:00, dtype: float64